<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>应用模版-后台管理系统</title>
	<script type="text/javascript" src="__JQUERY__/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="__EASYUI__/jquery.easyui.min.js"></script>
  <script type="text/javascript" src="__EASYUI__/locale/easyui-lang-zh_CN.js"></script>
  <link rel="stylesheet" type="text/css" href="__EASYUI__/themes/default/easyui.css"/> 
  <link rel="stylesheet" type="text/css" href="__BOOTSTRAP__/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="__BOOTSTRAP__/css/dashboard.css"/> 
  <link rel="stylesheet" type="text/css" href="__BOOTSTRAP__/css/bootstrap-datetimepicker.min.css"/> 
</head>

<body>
    <!--顶部导航栏开始-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      
        <div class="navbar-header">
          <button data-target="#nav-left" data-toggle="collapse" class="navbar-toggle" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{:U('index/index')}">LOGO</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{:U('login/logout')}">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--顶部导航栏结束-->
    <div class="container-fluid">
      <div class="row">
        
        <!--左侧菜单栏开始-->
        <div class="col-md-2 sidebar collapse" role="navigation" id="nav-left">
          <ul class="nav nav-sidebar">
            <div class="panel-group" id="accordion">
              <volist name="resource" id="vo">
                <div class="panel panel-default sidemenu">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <span class="{$vo.resourceicon}" aria-hidden="true">
                      <a data-toggle="collapse" data-parent="#accordion" href="#{$vo.resourcetarget}">{$vo.resourcename}</a>
                    </h4>
                  </div>
                  <div id="{$vo.resourcetarget}" class="panel-collapse collapse">
                      <ul class="list-group">
                        <volist name="vo['secondresource']" id="secondresource">
                            <li class="list-group-item">
                              <span class="{$secondresource.resourceicon}" aria-hidden="true">
                              <a rel="{$secondresource.resourceurl}" href="javascript:void(0)" onclick="loadHtml(this)">{$secondresource.resourcename}</a>
                            </li>
                        </volist>
                      </ul>
                  </div>
                </div>
              </volist>
            </div>
          </ul>
        </div>
        <!--左侧菜单栏结束-->
        
        <!--内容主体开始-->
        <div class="col-md-10 col-md-offset-2 main"></div>
        <!--内容主体结束-->
      </div>
    </div>

</body>

<script type="text/javascript">

function loadHtml(obj)
{
  $(".main").load(obj.rel);
}

</script>

<script type="text/javascript" src="__BOOTSTRAP__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__BOOTSTRAP__/js/bootstrap-suggest.min.js"></script>
<script type="text/javascript" src="__BOOTSTRAP__/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__BOOTSTRAP__/js/bootstrap-datetimepicker.zh-CN.js"></script>
</html> 